* {
	/* border: 1px solid grey; */
}

/* Navigation Bars */
/* Large Nav bar*/
#largeNav {
  text-align: center;
  color: white;
  padding: 10pt 0 0 0;
  min-width: 400pt;
}
#largeNav a {
  background-color: transparent;
  /*border-color: transparent;*/
  color: black;
  text-decoration: none;
  font-size: 12pt;
  padding: 15pt;
  transition: 0.2s;
}
#largeNav a:hover {
  border-bottom: 7pt solid rgb(51, 51, 153);
}
#largeNav a.selected {
  border-bottom: 7pt solid rgb(51, 51, 153);
}
/* Side Nav bar (on smaller screens) */
#sideNav {
	width: 0%;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.95);
	overflow-x: hidden;
	transition: 0.5s;
	padding: 10pt 0;
}
#sideNav a {
	width: 100%;
	height: 30pt;
	margin: 0 500pt 0 20pt;
	display: inline-block;
	padding: 20pt 20pt;
	text-decoration: none;
	font-size: 30pt;
	color: #818181;
	transition: 0.2s;
}
#sideNav .closeNav {
	color: #d4d4d4;
	width: 50pt;
	/*border-bottom: 5pt solid lightgrey;*/
}
#sideNav a:hover {
  color: black;
  font-weight: bold;
  /* border-left: 10pt solid black; */
}
#sideNavOpenButton {
	font-size: 40pt;
	cursor: pointer;
	z-index: 1;
	position: absolute;
  padding: 30pt;
}


/* Title Screen */
.titleStatement { /* Blue background */
	background-color: rgb(51, 51, 153);
  padding: 50pt 0 100pt 0;
  text-align: center;
  margin: 50pt 0;
}
.titleStatement h1 { /* Helping make medicine */
	padding: 20pt;
	font-family: arial;
	color: white;
	font-weight: bold;
	font-size: calc(25pt + (80 * 100vw / 1600));
}
.titleStatement p { /* Description */
	color: white;
	font-size: 15pt;
}
.titleStatement a { /* Find out more button */
	background-color: white;
	border-color: transparent;
	color: black;
	font-size: 15pt;
	padding: 10pt;
	transition: 0.5s;
}
.titleStatement a:hover {
	background-color: rgba(255, 255, 255, 0.3);
	color: white;
	text-decoration: none;
}

/* Body Text */
.genericBody {
	padding: 30pt 80pt;
	vertical-align: top;
}
.genericBody img {
  display: block;
	width: 90%;
	margin: 20pt auto 20pt auto;
}
.genericBody h1 {
	padding: 30pt;
	background-color: rgb(51, 51, 153);
	color: white;
}
.genericBody h2 {
	font-weight: 1;
	font-size: 20pt;
}

/* Forms */
.genericBody label {
  font-size: 15pt;
	padding: 30pt 0 0 0;
}
.genericBody input {
	outline: thin;
	width: 200pt;
	padding: 10pt;
	margin: 1pt;
}
.genericBody input[type=button] {
	margin: 30pt 0 0 0;
	border-color: transparent;
	border-radius: 40pt;
	background-color: rgb(240, 240, 240);
	color: black;
	transition: 0.2s;
}
.genericBody input[type=button]:hover {
	background-color: rgb(51, 51, 153);
	color: white;
}
.genericBody textarea {
	padding: 10pt;
	height: 200pt;
	width: 100%;
  max-width: 100%;
	min-width: 200pt;
  max-height: 200pt;
}
.genericBody div {
	padding: 0 30pt 0 0;
	display: inline-block;
	vertical-align: top;
}
.genericBody div.chartsHolder {
	display: inline-block;
	width: 100%;
	min-width: 600pt;
}


#contactUs {
	display: inline-block;
	width: 50%;
	height: 600pt;
	padding-right: 50pt;
}
#map {
	display: inline-block;
	padding-left: 0;
	width: 49%;
	height: 600pt;
}
#map iframe {
	width: 100%;
	height: 80%;
}


/* Putting images together */
.imageGallery {
	text-align: center;
}
.imageGallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
	object-position: 20%;
}
.imageGallery div.imageContainer {
	display: inline-block;
	position: relative;
	color: white;
	padding: 5pt;
	height: 300pt;
	width: 300pt;
}
.imageGallery div.hovertext {
	display: flex;
	position: absolute;
	color: transparent;
	top: 50%;
	left: 50%;
	font-size: 12pt;
	padding: 30pt;
	height: 92%;
	width: 92%;

  justify-content: center;
  align-items: center;

	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0);
	transition-duration: 0.5s;
	transition-timing-function: ease;
}
.imageGallery div.hovertext:hover {
	color: black;
	background-color: rgba(255, 255, 255, 0.7);
}

/* Footers */
footer {
  margin: 5% 10%;
  padding: 5%;
}

#sideNav, #sideNavOpenButton { display: none; }

@media only screen and (max-width: 479px) {
	/* Smaller Screen settings */
	#largeNav a { display: none; }
  #sideNav, #sideNavOpenButton { display: block; }

  * {
    border: 1px solid black;
  }

	.genericBody, #map {
		padding-left: 5%;
		padding-right: 5%;
	}

	#contactUs, #map {
		/* padding: 30pt 80pt; */
		width: 100%;
	}
}

/* .navbutton {
  background-color: transparent;
  border-color: transparent;
  color: black;
  text-decoration: underline;
  font-size: 15px;
  padding: 20px;
}

.footer {
  margin-top: 200px;
  padding-left: 150px;
  padding-bottom: 100px;
  padding-right: 150px;
}

.required-field::after {
  content: "*";
  color: red;
}

.myForm div {
  width: 47%;
  margin: 0;
  padding: 0;
  float: left;
}

.myForm div label {
  display: block;
}

.information {
  color: grey;
  margin: 40pt 0 0 0;
  width: 50%;
}

@media only screen and (max-width: 1200px) {
  .LogOutButton {
    float: left;
    line-height: 20px;
    padding-left: 3%;
    padding-top: 4%;
  }

  .SearchButton {
    float: left;
    padding-top: 4%;
    width: 5%;
  }

  .loggedInput {
    float: left;
    width: 25%;
    margin-right: 2%;
  }

  button {
    margin-left: 5%;
  }

  canvas {
    padding-left: 5%;
    padding-right: 5%;
  }

  .AllResults {
    color: royalblue;
    padding-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .View {
    padding-left: 5%;
    padding-right: 5%;
  }

  .ViewHead {
    color: royalblue;
    padding-bottom: 2%;
    padding-top: 3%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .footer {
    margin-top: 200px;
    padding-left: 50px;
    padding-bottom: 100px;
    padding-right: 150px;
  }

  .navbutton {
    display: none;
    background-color: transparent;
    border-color: transparent;
    color: black;
    text-decoration: underline;
    font-size: 15px;
    padding: 20px;
  }

  .logo {
    padding: 5px;
    padding-top: 5%;
    padding-left: 35%;
    float: left;
    margin: 0 auto;
  }

  .Visit {
    margin-top: 10px;
    font-size: 20px;
  }

  .Form {
    width: 100%;
    height: 50%;
    float: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 75px;
  }

  .Questions {
    font-weight: bold;
    font-size: 40px;
  }

  .map {
    float: left;
    padding-right: 50px;
    margin-bottom: 150px;
    margin-left: 50px;
    padding-top: 0px;
    height: 600px;
    width: 100%;
  }

  label {
    padding-bottom: 7px;
    font-size: 20px;
  }

  .resp-iframe {
    position: relative;
    width: 100%;
    height: 90%;
    border: 0;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  margin-left: 40%;
  padding-top: 4%;
  text-decoration: none;
  font-size: 40px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenavbutton {
  font-size: 120px;
  cursor: pointer;
  text-align: left;
  position: absolute;
  display: block;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 90px;
  margin-left: 50px;
  margin-right: 50px
}

@media only screen and (min-width: 1200px) {
  .LogOutButton {
    float: left;
    line-height: 20px;
    padding-left: 3%;
    padding-top: 2%;
  }

  .SearchButton {
    float: left;
    padding-top: 2%;
    width: 5%;
  }

  .loggedInput {
    float: left;
    width: 25%;
    margin-right: 2%;
  }

  .AllResults {
    color: royalblue;
    padding-top: 100px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .ViewHead {
    color: royalblue;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  body {
    font-family: "Lato", sans-serif;
    background-color: white;
    width: 80%;
    margin: auto;
  }

  .footer {
    margin-top: 200px;
    padding-left: 150px;
    padding-bottom: 100px;
    padding-right: 150px;
  }

  .navbutton {
    display: block;
    background-color: transparent;
    border-color: transparent;
    color: black;
    text-decoration: underline;
    font-size: 15px;
    padding: 20px;
  }

  .logo {
    padding: 5px;
    float: left;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    margin-left: 40%;
    padding-top: 2.5%;
    text-decoration: none;
    font-size: 40px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenavbutton {
    font-size: 50px;
    cursor: pointer;
    text-align: left;
    padding-left: 8%;
    padding-top: 1%;
    position: absolute;
    display: none;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
} */
